<div class="jumbotron">
  <h1>Memory key</h1>
  <p>
    Gerencie suas senhas em qualquer lugar!
  </p>
  <p>
    <%= link_to 'Crie sua conta!', 'new_user_path', class: 'btn btn-primary btn-lg'%>
  </p>
</div>